#interactiveLine path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
#interactiveLine .axis path,
#interactiveLine .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#interactiveLine .axis text {
    font-size: 12px;
}
#interactiveBar .bar {
    cursor: pointer;
}
#interactiveBar .bar:hover {
    fill: rgb(42, 147, 211);
}

/* Style for choropleth US Map */
#choropleth {
    margin: auto;
}
.counties {
    fill: none;
}
.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
.d3-tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(238, 203, 61, 0.906);
    color: #fff;
    border-radius: 0px;
}
.colorLegend_label {
    font-size: 12px;
}

/* Mbostock 2 style */
.link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
}

/* Tree map style */
#dndTree .node {
    cursor: pointer;
}
#dndTree .overlay{
    background-color:#EEE;
}
#dndTree .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
#dndTree .node text {
    font-size:10px; 
    font-family:sans-serif;
}
#dndTree .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
#dndTree .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}
#dndTree .ghostCircle.show{
    display:block;
}
#dndTree .ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
#tree-table-container tr.head {
    background-color: #3c763d;
    color: white;
}
#tree-table-container .table tr.head:hover {
    background-color: #3c763d; 
}
#tree-table-container tr.head td {
    font-weight: bold;
}

/* Bubble chart */
#bubbleChart path.lineTrajectory, path.subTrajectory {
    stroke-width: 2;
    stroke-opacity: 0.2;
    opacity: 0.5;
    fill-opacity: 0.3;
    stroke: gray;
    fill: none;
    pointer-events: none;
}
#bubbleChart path.lineTrajectoryMonotone {
    stroke-width: 2;                            
    fill: none;   
    pointer-events: none;   
    stroke: lightgray;   
}
#bubbleChart circle.pointTrajectory {
    pointer-events: none;
    stroke: lightgray;
    fill: black;
    opacity: .5;
}
#bubbleChart line.lineClosestTrajectory {
    stroke: black;
    stroke-dasharray: 4,4;
    display: block;
}
#bubbleChart line.lineClosestPoint {
    stroke: black;
    opacity: .1;
    display: block;
}
#bubbleChart .selected {
    opacity: .5;
}
#bubbleChart circle.pointClosestTrajectory {
    opacity: .1;
    display: block;
}
#bubbleChart circle.focusGuide {
    opacity: 1;
    display: block;
    fill: none;
    stroke: black;
}
#bubbleChart .dot {
    stroke: #000;
}
#bubbleChart .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#bubbleChart .label {
    fill: #777;
}
#bubbleChart .year.label {
    font: 500 196px "Helvetica Neue";
    fill: #ddd;
}
#bubbleChart .country.label  {
    font: 500 96px "Helvetica Neue";
    fill: #ddd;
}
#bubbleChart .year.label.active {
    fill: #aaa;
}
#bubbleChart circle.pointTrajectory {
    pointer-events: none;
    stroke: lightgray;
    fill: black;
    opacity: 0;
}
#bubbleChart path.lineTrajectory {
    stroke-width: 2;
    stroke-opacity: .5;
    stroke: black;
    fill: none;
    pointer-events: none;
}
#bubbleChart .selected {
    stroke-width: 4;
}
  